spring.application.name=

# PostgreSQL Database Configuration
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

# JPA/Hibernate Configuration
spring.jpa.hibernate.ddl-auto=
spring.jpa.show-sql=
spring.jpa.properties.hibernate.dialect=
spring.jpa.properties.hibernate.format_sql=

# Spring Mail Configuration
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=
spring.mail.properties.mail.smtp.starttls.enable=

# JWT Configuration
application.security.jwt.secret-key=
application.security.jwt.expiration=